@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 46);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 88vh;
    text-align: center;
}

header, footer{
    padding: 8px;
    background-color: black;
}

main {
    background-color: rgb(2, 1, 63);
    color: rgb(0, 205, 255);
    font-size: 2.5vw;
    max-width: 800px;
    text-align: center;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.863);
    -webkit-border-radius: 0px 0px ;
    -moz-border-radius: 0px 0px ;
    -ms-border-radius: 0px 0px ;
    -o-border-radius: 0px 0px ;
    padding: 0px 8px;
}

main p {
    font-size: 2.1vw;
}

.perfil {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza no container */
    gap: 20px; /* Espaço entre os elementos */
    padding-top: 20px;
}

.imagem img {
    width: 250px;/* Ajuste o tamanho da foto */
    height: 250px;/* Ajuste o tamanho da foto */
    border-radius: 50%;/* Para deixar a foto redonda */
    border: 3px solid white;/* Borda para destacar */
    background-repeat: no-repeat;
    margin-right: 88px;
}

.redes {
    text-align: left; /* Alinha os textos à esquerda */
}

.redes h1{
    margin-bottom: 20px;
}

h1 {
    text-shadow: 1px 1px 1px black;
}

a {
    font-weight: bold;
    color: rgb(91, 3, 214);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(89, 0, 255);
}

aside h1{
    margin-top: 80px;
    margin-bottom: 20px;
}

iframe {
    border: 1px solid black;
    width: 90%;
    height: 400px;
    background-color: white;
    padding: 2px;
}

